body{
	height: 100%;
	
    
    background: #f6615d;
}
*{
	margin: 0;
	padding: 0;
}
div{
	font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
}
span,button,input{
	font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
}
.box{
	padding: 0 10%;
}
.regist-head{
	text-align: center;
	color: #fff;
	height: 10%;
	line-height: 50px;
}
.box div{
	overflow: hidden;
	width: 100%;
	text-align: center;
	height: 45px;
}
.box input{
	width: 100%;
	margin: 0 auto;
	height: 35px;
	line-height: 35px;
	outline: none;
	border: 0;
	text-indent: 10px;
}
.submit{
	width: 100%;
	height: 35px;
	line-height: 35px;
	background: #ffe462;
	color: #e97743;
	text-align: center;
	border: 0;
	outline: none;
	margin-top: 10px;
}
.box .bottomimg{
	height: 30%;
    margin-top: 10%;
}
.bottomimg img{
	width: 100%;
	height: 100%;
}
.box .code-head{
	position: relative;
	text-align: inherit;
}
.code-head .write-code{
	width: 44%;
	margin: 0;
}
#btnSendCode {
    display: block;
    position: absolute;
    color: #fff;
    height: 35px;
    background: #29ad35;
    border-radius: 5px;
    width: 53%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    font-family: "微软雅黑";
    font-size: 11px;
    top: 0px;
    right: 0px;
    line-height: 35px;
}
.bcgs{
 	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    z-index: 99;
    display: none;
 }
 .alerts,.alerts-delet,.alerts-add,.page{
    width: 70%;
    height: 210px;
    position: absolute;
    margin-left: -35%;
    left: 50%;
    top: 17%;
    background: #fff;
    border-radius: 5px;
     display: none; 
    z-index: 999;
}
.alert-head{
    height: 40px;
    background:#f6625e;
    line-height: 40px;
    text-indent: 35px;
    color: #ffffff;
    font-family: "微软雅黑";
    font-size: 14px;
    position: relative;
    border-radius: 5px 5px 0px 0px;
}
.img-right,.delet-right,.add-right,.page-right{
    position: absolute;
    right: 6px;
    top: 8px;
    height: 25px;
}
.img-left{
    position: absolute;
    left: 10px;
        top: 10px;
    height: 21px;
}
.alert-content{
    height: 110px;
    line-height: 110px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 12px;

}
.alert-bottom span{
    display: inline-block;
    text-align: center;
    padding: 5px;
    height: 20px;
    line-height: 20px;
    width: 80px;
    cursor: pointer;
    border-radius: 5px;
}
.alert-sure,.delet-sure,.add-sure,.page-sure{
    background:#f6625e;
    color: #fff; 

}
.alert-bottom{
    text-align: center;
}
.address-box{
    overflow: hidden;
}
.address-box span{
    float: left;
    text-align:left;
    width: 35%;
    height: 35px;
    line-height: 35px;
    color: #fff;
}
.address-box input{
    float: left;
    width: 65%;
}
#city{
    float: left;
    width: 64%;
    text-align: left;
}
.hiddens{
    overflow: hidden;
}