body{
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
div{
	font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
}
span,button,input{
	font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
}
.gift-head{
	background: #f6625e;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}
.return{
	position: absolute;
	left: 2px;
	top: 0px;
	display: block;
	width: 50px;
	height: 40px;
}
.gift-head img{
	position: absolute;
    left: 13px;
    top: 10px;
    height: 20px;
}
.notice{
	height: 170px;
	position: fixed;
	top: 40px;
	width: 100%;
	z-index: 998;
}
.notice img{
	height: 170px;
	width: 100%;
}
.users{
	height: 25px;
    position: fixed;
    top: 185px;
    background: black;
    opacity: 0.6;
    width: 100%;
    z-index: 999;
    overflow: hidden;
}
.users span{
	height: 25px;
    line-height: 25px;
}
.user-left{
	float: left;
	height: 25px;
	color: #fff;
}
.user-right{
	float: right;
	height: 25px;
	color: #fff;
}
#gift-box{
	background: #ff908e;
	padding: 10% 15%;
	margin-top: 210px;
	position: relative;
    padding-bottom: 0px;
}
.gifts dt,.gifts dd{
	text-align: center;
    height: 25px;
    line-height: 25px;

}

.gifts dd{
    margin-top: 5px;
    text-align: center;

}
.gifts{
	background: #fff;
	margin-bottom: 5px;
	padding: 10px;
}
.gifts dt{
     height: 150px;
}
.gifts dt img{
    height: 100%;
    width: 100%;
}
.cash {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    background: #fe4847;
    height: 25px;
    line-height: 25px;
    color: #fff;
    cursor: pointer;
}
.counts input{
	width: 30px;
    position: absolute;
    height: 20px;
    line-height: 25px;
    top: 1px;
    margin-left: 4px;
    text-align: center;

}
.shop{
	color: #868686;
}
.jifen{
	color: #fe4847;
}
.pages1,.pages2{
        font-family: "微软雅黑";
    font-size: 11px;
    color: #fff;
    margin-top: 10px;
    margin: 0 auto;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.current-page,.page-count,.content-totals{
    color: red;
}
#firstPage,#prev,#next,#page-jump,#lastPage{
    cursor: pointer;
    border: 1px solid #c4c4c4;
    padding: 3px;
    color: #fff;
}
.cant-click{
    color:#969696; 
    background:#eeeeee;
}
#firstPage{
    margin-left: 1px;
}
.page-num{
    padding: 3px;
    width: 28px;
    margin-left: 20px;
}
.bcgs{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #253b52;
    opacity: 0.5;
    display: none;
}
.gifts .counts{
    position: relative;
    width: 68px;
    margin: 0 auto;
    text-align: left;
}
.wap-giftbox{
    background: #ff908e;
}
.user-score,.user-name{
    padding-left: 10px;
    padding-right: 10px;
}
.bcgs{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    z-index: 999;
    display: none;
 }
 .alerts,.alerts-delet,.alerts-add,.page{
    width: 70%;
    height: 210px;
    position: fixed;
    margin-left: -35%;
    left: 50%;
    top: 17%;
    background: #fff;
    border-radius: 5px;
     display: none; 
    z-index: 999;
}
.alert-head{
    height: 40px;
    background:#f6625e;
    line-height: 40px;
    text-indent: 35px;
    color: #ffffff;
    font-family: "微软雅黑";
    font-size: 14px;
    position: relative;
    border-radius: 5px 5px 0px 0px;
}
.img-right,.delet-right,.add-right,.page-right{
    position: absolute;
    right: 6px;
    top: 8px;
    height: 25px;
}
.img-left{
    position: absolute;
    left: 10px;
        top: 10px;
    height: 21px;
}
.alert-content{
    height: 110px;
    line-height: 110px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 12px;

}
.alert-bottom span{
    display: inline-block;
    text-align: center;
    padding: 5px;
    height: 20px;
    line-height: 20px;
    width: 80px;
    cursor: pointer;
    border-radius: 5px;
}
.alert-sure,.delet-sure,.add-sure,.page-sure{
    background:#f6625e;
    color: #fff; 

}
.alert-bottom{
    text-align: center;
}
.hiddens{
    overflow: hidden;
}