*{
	margin: 0;
	padding: 0;
}
div{
	font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
}
span,button,input{
	font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
}
.container-1{
	background: #f6625e;
	padding: 5% 3%;
}
.login-head{
	text-align: center;
	color: #fee662;
	height: 30px;
	line-height: 30px;

}
.loginimg{
	    height: 282px;
    text-align: center;
    background: url(../image/wap-login.png) no-repeat center center;
    position: relative;
    background-size: 100%;
}
.loginimg img{
	height: 100%;
}
.login-content{
	    text-align: center;
    position: absolute;
    margin-bottom: 10px;
    bottom: 5px;
    width: 100%;
}
.login-content span{
	color: #fff;
}
.login-content .count{
	color: #fee662;
	font-size: 18px;
}
.login-box{
	background: #c54e4a;
	padding: 5% 10%;
}
.login-box div{
	margin-top: 15px;
}
.login-box input{
	width: 100%;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	outline: none;
	border: 0;
	text-indent: 10px;
}
.submit{
	    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ffe462;
    color: #e97743;
    text-align: center;
    border: 0;
    outline: none;
    margin-top: 3px;
}
.forget a{
	text-decoration: none;
	color: #fff
}
.forget{
	position: relative;
}
.forget2{
	position: absolute;
	right: 0;
}
.swiper-container {
    height: 210px;
    }
.swiper-slide img{
	width: 100%;
	height: 100%;
    }
 .container-2{
 	background: #ff8965;
 	padding: 50px 10%;
 }
 .notice-box{
 	position: relative;
 	background: #fff7e0;
 	min-height: 300px;
 	border-radius: 5px;
 	padding: 10px;
 }
 .noticeimg{
 	text-align: center;
    height: 50px;
    width: 100%;
    color: #d97168;
 }
 .noticeimg img{
 	height: 50px;
 }
 .content{
 	color: #d97168;
    font-size: 13px;
    text-indent: 10px;
    line-height: 30px;
 }
 .pc{
 	color: #fff;
 	text-align: center;
 	margin-top: 15px;
 }
 .bcgs{
 	position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    z-index: 99;
    display: none;
 }
 .alerts,.alerts-delet,.alerts-add,.page{
    width: 70%;
    height: 210px;
    position: fixed;
    margin-left: -35%;
    left: 50%;
    top: 17%;
    background: #fff;
    border-radius: 5px;
     display: none; 
    z-index: 999;
}
.alert-head{
    height: 40px;
    background:#f6625e;
    line-height: 40px;
    text-indent: 35px;
    color: #ffffff;
    font-family: "微软雅黑";
    font-size: 14px;
    position: relative;
    border-radius: 5px 5px 0px 0px;
}
.img-right,.delet-right,.add-right,.page-right{
    position: absolute;
    right: 6px;
    top: 8px;
    height: 25px;
}
.img-left{
    position: absolute;
    left: 10px;
        top: 10px;
    height: 21px;
}
.alert-content{
    height: 110px;
    line-height: 110px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 12px;

}
.alert-bottom span{
    display: inline-block;
    text-align: center;
    padding: 5px;
    height: 20px;
    line-height: 20px;
    width: 80px;
    cursor: pointer;
    border-radius: 5px;
}
.alert-sure,.delet-sure,.add-sure,.page-sure{
    background:#f6625e;
    color: #fff; 

}
.alert-bottom{
    text-align: center;
}
.hiddens{
    overflow: hidden;
}