/*请浮动*/
.close{z-index:1;}
ul{
	list-style: none;
}
.clear:after{
  display:block;
  content:"clear";
  height:0;
  clear:both;
  overflow:hidden;
  visibility:hidden;}
.clear{zoom:1;}
a{cursor:pointer;}
body{font-family:"Microsoft Yahei";}
/*顶部样式*/
.topBox{width:100%;height:70px;}
.topContent{width:1178px;margin:0 auto;height:70px;background: #ff4848;position: relative; }
.logo{width:;}
/*内容区*/
.contentBox{}
.contents{width:1178px;margin:0 auto;background:#f0f0f0;height: 790px;}
.leftBox{float:left;width:188px;border-right:1px solid #dddddd;}
.leftBox li{height:60px;line-height:60px;border-bottom:1px solid #ddd;font-size:16px;font-family:"Microsoft Yahei";color:#000;cursor:pointer;}
.leftBox li span{/*float:right;margin-right:46px;*/margin-left:68px;}
.leftBox li a{display: block;width:100%;height:100%;color:#000}
.leftBox li a:hover,.leftBox li a:visited{color:#000}
.gift{width:183px;background:url(../images/gift1.png) no-repeat 37px center;border-left:5px solid #f0f0f0}
.gift:hover{background:url(../images/gift2.png) no-repeat 37px center #fff;border-left:5px solid #fb4e3d}
.count{width:183px;background:url(../images/count1.png) no-repeat 37px center;border-left:5px solid #f0f0f0}
.count:hover{background:url(../images/count2.png) no-repeat 37px center #fff;border-left:5px solid #fb4e3d}
.track{width:183px;background:url(../images/track1.png) no-repeat 37px center;border-left:5px solid #f0f0f0}
.track:hover{background:url(../images/track2.png) no-repeat 37px center #fff;border-left:5px solid #fb4e3d}
.userManagement{width:183px;background:url(../images/userManagement1.png) no-repeat 37px center;border-left:5px solid #f0f0f0}
.userManagement:hover{background:url(../images/userManagement2.png) no-repeat 37px center #fff;border-left:5px solid #fb4e3d}
.add_Notice{width:183px;background:url(../images/add_Notice1.png) no-repeat 37px center;border-left:5px solid #f0f0f0}
.add_Notice:hover{background:url(../images/add_Notice2.png) no-repeat 37px center #ffffff;border-left:5px solid #fb4e3d}

.add_Img{width:183px;background:url(../images/img-gray.png) no-repeat 37px center;border-left:5px solid #f0f0f0}
.add_Img:hover{background:url(../images/img-pink.png) no-repeat 37px center #ffffff;border-left:5px solid #fb4e3d}

.active{width:183px;background:url(../images/add_Notice2.png) no-repeat 37px center #fff;border-left:5px solid #fb4e3d}
.active1{background:url(../images/gift2.png) no-repeat 37px center #fff;border-left:5px solid #fb4e3d}
.active2{background:url(../images/count2.png) no-repeat 37px center #fff;border-left:5px solid #fb4e3d}
.active3{background:url(../images/track2.png) no-repeat 37px center #fff;border-left:5px solid #fb4e3d}
.active4{background:url(../images/userManagement2.png) no-repeat 37px center #fff;border-left:5px solid #fb4e3d}

.active5{background:url(../images/img-pink.png) no-repeat 37px center #fff;border-left:5px solid #fb4e3d}

.rightBox{float:right;width:989px; position: relative;}
.addNoticeBox{width:989px;height:60px;border-bottom:1px solid #dcdcdc;background:#fff;position: relative;}
.noticetitle{float:left;margin-left:28px;padding-top:21px;color:#656565;font-size:16px;height:20px;line-height:20px;}
#addNotice{float:right;margin-right:18px;padding-top:16px;width:59px;height:29px;}
#noticeUl{padding-left:27px;width:929px;padding-right:33px;height:728px;}
#noticeUl li{height:45px;}
#noticeUl li .noticeName{float:left;width:659px;overflow:hidden;background:url(../images/notice_Bg.jpg) repeat-x left center;}
#noticeUl li .noticeTime{float:left;width:145px;margin-left:20px;height:45px;line-height:45px;text-align:center;overflow:hidden;font-size:14px;}
.editNotice{float:left;color:#2c67c5;font-size:16px;margin-left:3px;height:45px;line-height:45px;text-align:center;overflow:hidden;cursor: pointer;}
.noticeText{float:left;background:#f0f0f0;height:45px;line-height:45px;font-size:16px;max-width:670px;padding-right:15px;overflow:hidden;}
.giftmg-box{
	padding: 10px;
	overflow: hidden;
    position: relative;
    height: 745px;
}
.giftmg-left{
	float: left;
	width: 220px;
	margin-right: 10px;
	background: #fff;
	border: 1px solid #dcdcdc;
}
.giftmg-right{
	float: left;
	width: 730px;
    position: relative;
    height: 720px;
}
.file{
	position: relative;
	display: inline-block;
	width: 150px;
	height: 90px;
	background:url(../images/add.png) no-repeat 0px 0px;
	overflow:hidden;
	text-decoration: none;
	margin-top: 20px;
	margin-left: 27px;
}
.file input{
	    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}
.input-box{
	margin-top: 15px;
	padding-left: 25px;
	padding-right: 20px;
}
/*.input-box div{
	text-indent: 15px;
	position: relative;
	height: 20px;
	font-size: 13px;
	line-height: 20px;
}*/
/*.input-box i{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 3px;
	height: 15px;
	background:#ff4848; 
}*/
.input-box input{
	width: 150px;
	height: 25px;
	margin-top: 5px;
}
#radio1,#radio2,#radio3,#radio4{
	display: none;
}
.input-radio{
	padding-left: 25px;
	padding-right: 20px;
	font-size: 13px;
	margin-top: 10px;
}
.submits{
    width: 155px;
    margin: 0 auto;
    background: url(../images/tijiao.png) no-repeat 0px 0px;
    height: 45px;
    margin-top: 15px;
    cursor: pointer;
}
.label1,.label2,.label3,.label4{
	display: inline-block;
    width: 65px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    background: url(../images/checkgray.png) no-repeat 42px 7px;
}
#radio1:checked+label, #radio2:checked+label{
	 background: url(../images/checkpink.png) no-repeat 42px 7px;
}
#radio3:checked+label, #radio4:checked+label{
     background: url(../images/checkpink.png) no-repeat 42px 7px;
}
.content-box{
    height: 100%;
    width: 100%;
    position: relative;
}
.content-box div:first-child {
    background: #fe7877;
    color: #fff;
}
.content-box div {
    height: 40px;
    line-height: 40px;
}
.li-head-exchange,.li-head-org,.li-head-track{
    overflow: hidden;
}
ul{
    list-style: none;
}
.li-head-exchange li,.li-head-exchanges li{
    width: 190px;
    float: left;
    font-family: '微软雅黑';
    font-size: 13px;
    text-align: center;
    height: 40px;
}
.li-head-org li,.li-head-orgs li{
    width: 140px;
    float: left;
    font-family: '微软雅黑';
    font-size: 13px;
    text-align: center;
    height: 40px;
}
.li-head-org1 li{
    width: 189px;
    float: left;
    font-family: '微软雅黑';
    font-size: 13px;
    text-align: center;
    height: 40px;
}
.li-head-track li,.li-head-tracks li{
    width: 150px;
    float: left;
    font-family: '微软雅黑';
    font-size: 13px;
    text-align: center;
    height: 40px;
}
.content-box .li-head-exchange li:first-child,.content-box .li-head-exchanges li:first-child {
    width: 190px;
}
.content-box .li-head-org li:first-child,.content-box .li-head-orgs li:first-child{
    width: 160px;
}
.content-box .li-head-track li:first-child,.content-box .li-head-tracks li:first-child {
    width: 190px;
}
.description img{
    margin-left: 10px;
    cursor: pointer;
}
.pages{
    position: absolute;
    bottom: 30px;
    width: 420px;
    left:50%;
    margin-left: -210px;
    font-family: "微软雅黑";
    font-size: 13px;
}
.current-page,.page-count,.content-totals{
    color: red;
}
#firstPage,#prev,#next,#page-jump,#lastPage{
    cursor: pointer;
    border: 1px solid #c4c4c4;
    padding: 3px;
    color: #646464;
}
.cant-click{
    color:#969696; 
    background:#eeeeee;
}
#firstPage{
    margin-left: 10px;
}
.page-num{
    padding: 3px;
    width: 28px;
    margin-left: 20px;
}
.bcgs{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #253b52;
    opacity: 0.5;
    display: none;
}
.add-notice,.editor-notice{
    width: 500px;
    height: 515px;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -250px;
    margin-top: -275px;
    border-radius: 5px;
    background: #fff;
    padding: 10px 20px;
    display: none;
}
.add-head{
    border-bottom: 1px solid black;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}
.form-box{
    padding-left: 10px;
    padding-right: 10px;
}
.form-box div{
    margin-top: 25px;
}
.form-box span{
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.form-box input{
    height: 28px;
    width: 300px;
    line-height: 28px;
}
.positions{
    height: 285px;
    overflow: hidden;
}
.positions div{
    float: left;
    width: 120px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.positions textarea{
    width: 300px;
    margin-left: 3px;
    height: 210px;
}
.form-box .true,.form-box .trues{
    position: relative;
    top: 32px;
    display: inline-block;
    width: 100px;
    color: rgb(255, 255, 255);
    font-family: '微软雅黑';
    line-height: 30px;
    left: 146px;
    cursor: pointer;
    background: #ff4848;
    border-radius: 4px;
    height: 30px;
}
.trues,.true,.trues1{
   position: relative;
    top: 32px;
    display: inline-block;
    width: 100px;
    color: rgb(255, 255, 255);
    font-family: '微软雅黑';
    line-height: 30px;
    left: 146px;
    cursor: pointer;
    background: #ff4848;
    border-radius: 4px;
    height: 30px; 
   text-align: center;
   outline: none;
   border:0;
}
.form-box .cancel,.form-box .cancels{
    background: #969696;
     position: relative;
    top: 32px;
    display: inline-block;
    width: 100px;
    color: rgb(255, 255, 255);
    font-family: '微软雅黑';
    line-height: 30px;
    right: -210px;
    cursor: pointer;
    border-radius: 4px;
    height: 30px;
    text-align: center;
}
.cancels{
    background: #969696;
     position: relative;
    top: 32px;
    display: inline-block;
    width: 100px;
    color: rgb(255, 255, 255);
    font-family: '微软雅黑';
    line-height: 30px;
    right: -210px;
    cursor: pointer;
    border-radius: 4px;
    height: 30px;
    text-align: center;
}
.exit{
    position: absolute;
    display: block;
    width: 70px;
    height: 30px;
    background: url(../images/tuichu.png) no-repeat 0px 0px;
    right: 20px;
    top: 21px;
    cursor: pointer;
}
.head-right{
    position: absolute;
    right: 123px;
    top: 16px;
}
.head-right i{
        display: inline-block;
    width: 20px;
    background: #646464;
    height: 1px;
    margin-left: 20px;
    margin-right: 20px;

}
.head-right input{
    height: 30px;
    width: 180px;
}
.chaxun{
    display: inline-block;
    width: 75px;
    height: 30px;
    cursor: pointer;
    background: url(../images/chaxun.png) no-repeat 0px 0px;
    position: absolute;
    right: 23px;
    top: 18px;
}
.group-head{
    background: #fe7877;
    color: #fff;
    text-indent: 15px;
    height: 40px;
    line-height: 40px;
}
.group-add{
    height: 40px;
    background: #f0f0f0;
    position: relative;
}
.group-add input{
    position: absolute;
    width: 100px;
    height: 25px;
    left: 14px;
    top: 6px;
}
.group-add span{
       position: absolute;
    right: 15px;
    top: 7px;
    display: inline-block;
    width: 50px;
    height: 25px;
    border: 1px solid #76a6e8;
    color: #76a6e8;
    line-height: 25px;
    cursor: pointer;
    text-align: center;
}
#group-content{
    height: 602px;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    overflow-y:scroll;
}
.groups{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #c6c6c6;
    overflow: hidden;
}
.groups-left{
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    color: #7d7d7d;
    text-indent: 10px;
}
.groups-right{
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    background:url(../images/description3.png) no-repeat center center;
    cursor: pointer;
}
.editor-user{
      width: 350px;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -180px;
    height:435px;
    margin-top: -200px;
    font-size: 13px;
    font-family: ' 微软雅黑';
    padding: 10px 20px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    display: none;
}
.editor-user div:last-child{
    margin-top: 0px;
}
.add-org span,.editor-org span{
    text-align: left;
    text-indent: 20px;
}
.add-org textarea,.editor-org textarea{
    width: 180px; 
    margin-left: 28px;
}
.editors{
    border-bottom: 1px solid black;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.editors2{
        border-bottom: 1px solid black;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}
.other-head{
     height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color:rgb(49, 163, 221);
}
.editors span{
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 40px;
    cursor: pointer;

}
.editor-left{
    margin-left: 46px;
}
.form-box,.form-box2{
    padding-left: 10px;
    padding-right: 10px;
}
.form-box div{
    margin-top: 25px;
}
.form-box2 div{
    margin-top: 11px;
}
.form-box span ,.form-box2 span{
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.form-box input,.form-box select,.form-box2 input,.form-box2 select{
    height: 24px;
    width: 171px;
}
.editor-user .true{
    top: 24px;
    left: 52px;
}
.editor-user .cancel{
    top: 24px;
    right: -94px;
}
.ui-timepicker-div dl dt {
height: 25px;
margin-bottom: -25px;
}
.ui_tpicker_time_label {
    padding-left: 20px;
}
.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}
.ztree li span.button.ico_docu{
    background: url(image/personal.png) no-repeat 0px 0px;
}
.head{
    height: 110px;
    width: 100%;
    background: #fff;
    }
.head-box{
    width: 960px;
    margin:0 auto;
    line-height: 110px;
    color: #626262;
    font-size: 18px;
}
.login-content{
    overflow: hidden; 
   padding-top: 200px;
    width: 960px;
    margin: 0 auto;
}
.login-right{
    width: 314px;
    height: 331px;
    background: url(../images/loginbcg.png);
    padding-right: 40px;
    padding-left: 40px;
    float: right;
    padding-top: 121px; 
}
.login-right div{
    margin-bottom: 10px;  
}
.login-right input{
    width: 320px;
    height: 30px;
    line-height: 30px;
    text-indent: 20px;
    outline: none;
}
.login-right .usercode{
    width: 210px;
}
.codes{
    position: absolute;
    right: 8px;
    height: 32px;
    top: 1px;
    cursor: pointer;
}
.logins{
    cursor:pointer;   
    margin-top: 20px; 
}
#img-box{
    padding: 20px;
    height: 690px;
}
.imgnow{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}
.img-head ul{
    overflow: hidden;
}
.img-head ul li{
   float: left;
    width: 223px;
    height: 180px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #fff;
    position: relative;
}
.img-head ul li:hover .boxes{
    display:block
}
.img-head li img{
    width: 100%;
    height: 100%;

}
.boxes{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background:black;
    text-align: center;
    left: 0;
    top: 0;
    display: none;
}
#contentBox div img{
        width: 50px;
    margin-top: 62px;
    height: 50px;
}
.add-img{
    width: 200px;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -100px;
    height: 170px;
    margin-top: -200px;
    font-size: 13px;
    font-family: ' 微软雅黑';
    padding: 10px 20px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    display: none;
}
.buttons{
     cursor: pointer;
    background: #ff4848;
    border-radius: 4px;
    height: 30px;
    outline: none;
    padding: 0;
    width: 85px;
    border:0;
    color: #fff;
    line-height: 30px;
    text-align: center;
    display: inline-block;

}
.cancel{
       background: #969696;
    position: relative;
    top: 2px;
    display: inline-block;
    width: 81px;
    color: rgb(255, 255, 255);
    font-family: '微软雅黑';
    line-height: 30px;
    right: -28px;
    cursor: pointer;
    border-radius: 4px;
    height: 30px;
    text-align: center;
}
.daochu{
    position: absolute;
    height: 40px;
    line-height: 40px;
    border:0;
    outline: none;
    top: 10px;
    left: 200px;
    text-align: center;
    cursor: pointer;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #fff;
    background:#ff4848;
}
.zhiding,.notice-delete{
    float: left;
    color: #2c67c5;
    font-size: 16px;
    height: 45px;
    margin-left: 3px;
    line-height: 45px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
.jfma span{
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}
.jfma input{
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    margin-left: 10px;
}
.jfsub{
    padding: 10px;
}
.org-name{
    overflow: hidden
}
.li-head-exchange li,.li-head-exchanges li{
    width: 160px;
}
.content-box .li-head-exchange li:first-child{
    width: 140px;
}
.content-box .li-head-exchanges li:first-child{
    width: 140px;
}
.description1{
    overflow: hidden;
    cursor: pointer;
}
.li-head-org li,.li-head-orgs li{
    width: 110px;
}
.org-time1{
    overflow: hidden;
    cursor: pointer;
}